<div class="index">
	<div class="check-container">
		{{#link-to 'check'}}
			<img src="assets/images/logo-irrev.svg" alt="">
			<p>Validar CSV</p>
		{{/link-to}}
	</div>
	<div class="entry-container">
		{{#link-to 'entry'}}
			{{fa-icon 'plus-circle'}}
			<p>Carga de Avales</p>
		{{/link-to}}
	</div>
</div>